@model List<Models.ModelView.LessonViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Shared_Layout.cshtml";
}
<!-- Primary left -->
<div id="primary-left">
    @foreach (var i in Model)
    {
        var url = "/baigiang/" + @i.MetaTitle + "/" + @i.MaBaiGiang;
          <!-- Article standard -->
        <div class="article-standard">
            <div class="post-video">
                <div class="fluid-width-video-wrapper" style="padding-top: 85.7143%;">
                    <iframe src="@i.LinkVideo"></iframe>
                </div>
            </div>
            <div class="entry-content">
                <h1 class="entry-title"><a href="@url">@i.TenBaiGiang</a></h1>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">132</span>
                        <span class="by-date">1 day ago</span>
                        <span class="by-comments"><a href="#">42</a></span>
                    </div>
                </div>
                <p>@i.NoiDung</p>
                <a href="@url" class="read-more">Read more</a>
                <span class="format-post"><i class="icon-play-sign"></i></span>
            </div>
        </div>
    }
  
</div>
<!-- Sidebar -->
<div id="sidebar">
    <!-- Social profile -->
    <div class="widget no-bg">
        <ul class="widget-social-profile">
            <li class="twitter">
                <a href="#">
                    <i class="icon-twitter"></i>
                    <strong>29,272</strong>
                    <span>followers</span>
                </a>
            </li>
            <li class="facebook">
                <a href="#">
                    <i class="icon-facebook"></i>
                    <strong>6,072</strong>
                    <span>fans</span>
                </a>
            </li>
            <li class="rss">
                <a href="#">
                    <i class="icon-rss"></i>
                    <strong>112,054</strong>
                    <span>subscribers</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Slider -->
    <div class="widget">
        <div class="widget-slider">
            <ul>
                <li><a href="#"><img src="~/Content/img/posts/quad_post_5.jpg" alt="Image" title="This is title caption"></a></li>
                <li><a href="#"><img src="~/Content/img/posts/quad_post_2.jpg" alt="Image" title="Another caption"></a></li>
                <li><a href="#"><img src="~/Content/img/posts/quad_post_6.jpg" alt="Image" title="Woow - caption!"></a></li>
            </ul>
        </div>
    </div>
    <!-- Latest reviews -->
    <div class="widget">
        <h3 class="widget-title">Latest reviews</h3>
        <ul class="widget-latest-reviews">
            <li>
                <a href="#"><img src="img/sidebar/post_1.jpg" alt="Post"></a>
                <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
                <div class="entry-review">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-empty"></span>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><img src="~/Content/img/posts/blog_small_3.jpg" alt="Post"></a>
                <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
                <div class="entry-review">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-empty"></span>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><img src="~/Content/img/posts/travel_small_2.jpg" alt="Post"></a>
                <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
                <div class="entry-review">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-empty"></span>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><img src="~/Content/img/posts/fashion_small_1.jpg" alt="Post"></a>
                <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
                <div class="entry-review">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-empty"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Pagination -->
<div class="container">
    <!-- Clear floating div -->
    <div class="clear"></div>
    <ul class="pagination col3">
        <li class="prev disabled">PREV</li>
        <li class="current">1</li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li class="next"><a href="#">NEXT</a></li>
    </ul>
</div>

